.searching-grid-background {
	height: 580px;
	width: 100%;
	background-image: url("/public/img/title-background.png");
  background-size: cover;
	margin-bottom: -380px;
}
/* div 겹처짐 */
.searching-grid {
	height: 380px;
}
.searching-title {
	text-align: center;
	position: relative;
	top: 10px;
	color: white;
}
.searching-md {
	width: 600px!important;
	position: relative;
	left: 50%;
	margin-left: -300px;
	margin-top: 20px;
}
.hashtag-games {
	position: relative;
	top: 10px;
	left: 50%;
	margin-left: -255px;
}
.hashtag-games>.taged-game {
	margin-left: 5px;
	margin-right: 5px;
	background-color: rgba(0,0,0,0.30);
}
.intro-grid {
	height: 400px;
}
.intro-grid>.description {
	position: relative;
	top: 50%;
	left: 10%;
	margin-top: -60px;
	color: white;
}
.intro-grid-two {
	height: 290px;
}
.steam-wallet {
	width: 300px;
	position: relative;
	top: 30px;
	left: 300px;
}
.goto-login {
	position: relative;
	left: 50%;
	margin-left: -230px;
	top: -10px;
}
