.content-grid {
	width: 101.5%;
	min-height: 800px;
	background-color: rgba(27,40,56,0.59);
	position: relative;
	margin-left: -15px;
	margin-bottom: 260px;
	padding: 30px;
	color: white;
}
.ex {}
.item-info {
	background-color: rgba(27,40,56);
	width: 100%;
	padding: 15px;
}
.game-inpack-list {
	background-color: rgba(27,40,56);
	width: 100%;
	padding: 15px;
	padding-top: 20px;
}
.utill-border {
	border-bottom: 1px solid rgba(107,107,107,1.00);
	line-height: 30px!important;
	color: rgba(155,155,155,1.00);
}
.game-inpack-list>p {
	line-height: 15px;
}
.item-img {
	width: 100%;
	margin-bottom: 10px;
}
.reliable-check {
	font-size: 15px!important;
	position: relative;
	top: 2px;
	left: 5px;
}
.item-price {
	color: #3e9c35;
	font-size: 30px;
}
.bz-link {
	margin-top: 10px;
	color: white;
}
.direct-link {
	margin-top: 10px;
}
.bunjang-logo {
	width: 18px;
	margin-right: 7px;
	position: relative;
	top: -2px;
}
/* searching bar */